.contactme {
    background-color: #21242c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 10px 10px 10px;
    padding: 30px 75px;
    gap: 10px;
    position: relative;
}

.contactme h6 {
    font-weight: normal;
    font-size: 25px;
    color: yellow;
}

.contactmedes1 {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.contactmedes2 {
    display: flex;
    justify-content: center;
    color: rgb(156, 156, 156);
    margin: 0 0 15px 0;
}

input {

    background-color: transparent;
    border: rgb(85, 84, 84) solid 2px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    height: 25px;
    width: 300px;
}

input::placeholder {
    color: rgb(117, 117, 117);

}


textarea {
    text-decoration: none;
    border-radius: 10px;
    height: 200px;
    border: rgb(85, 84, 84) solid 2px;
    background-color: transparent;
    padding: 10px;
    color: white;
    font-size: 20px;
    width: 645px;
}

textarea::placeholder {
    color: rgb(117, 117, 117);
    font-size: 15px;

}

.subbtn {
    background-color: transparent;
    width: 100px;
    height: 35px;
    color: white;
    cursor: pointer;
    border: #F75023 solid 2px;
    border-radius: 20px;
}

.subbtn:hover {
    text-decoration: none;
    background-image: linear-gradient(to right, #F75023, #ac2c09);
    border: #21242c solid 2px;
}

.subbtn:active {
    background-image: linear-gradient(to right, white, white);
    color: black;
}

.inputbox {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.messagebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

p {
    display: flex;
    align-items: center;
    gap: 20px;

}

img {
    height: 40px;
    width: auto;
}
.contactmesec1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* ===================== */

@media (max-width:850px) {

textarea{
    width: 93%;
}

.contactme{
    padding: 30px;
}

.contactmedes1{
font-size: 15px;
}

.contactmedes2{
font-size: 12px;
}

}

@media (max-width:450px) {
.inputbox{
    flex-direction: column;
}

}
